.DS_Store
.Rapp.history
.Rhistory
.Rproj.user/
/data
/docs
/figs
/old_scripts
/workflows
0.0_bam.cov.R
0.0_metadata.R
4.3_load_landscape_snpeff.R
999_neestimator.R
999_ngsld.R
999_get_GO_gff.R
SHO_roh_load_2022.Rproj
